<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css">
    <style>
        .footer-icons {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .footer-icons a {
            margin-right: 50px; /* Adjust the spacing between icons */
        }
    </style>
</head>

<body tabindex="-1">
    <br>
    <br>
    <hr>
    <footer class="footer footer-center p-10 bg-base-200 text-base-content rounded w-full">
        <nav class="grid grid-flow-col gap-4 text-center">
            <a class="link link-hover" href="/"><strong>Home</strong></a>
            <a class="link link-hover" href="/services"><strong>Services</strong></a>
            <a class="link link-hover" href="/contact"><strong>Contact</strong></a>
            <a class="link link-hover" href="/about"><strong>About</strong></a>
        </nav>
        <div class="footer-icons">
            <a class="link link-hover" href="https://github.com/emmanuel-ngufor"><i class="fa-brands fa-github"></i><strong>Github</strong></a>
            <a class="link link-hover" href="https://snapchat.com/t/yi1aMifJ"><i class="fa-brands fa-linkedin"></i><strong>Linkedin</strong></a>
            <a class="link link-hover" href="https://www.instagram.com/e_____manuel/"><i class="fa-brands fa-instagram"></i><strong>Instagram</strong></a>
            <a class="link link-hover" href="https://twitter.com/i_amemma5"><i class="fa-brands fa-twitter"></i><strong>Twitter</strong></a>
            
            
        </div>
        <p>This site is open source. Contact me to improve this site.</p>
        <p class="text-center">Copyright &copy; 2024 - All rights reserved by Emmanuel Ngufor</p>
    </footer>

</body>
</html>
