<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body tabindex="-1">
    <!-- include navbar.ejs-->
    <%- include('partials/navbar', {page: '/resume'}) %>

    <div class="container mx-auto p-4">
      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">My Resume</h1>
            <p class="py-6">
                <strong>Email: </strong>nguforemmanuel53@mail.com <br/>
                <strong>Location: </strong>Toronto, ON Canada
            </p>
          </div>
        </div>
      </div>

      <br />

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="prose">
            <h2>PROFILE & OBJECTIVE</h2><hr/>
            Software Developer | System Admin & Technical Support and graduate with Honors in Computer Programming and Analysis from Seneca Polytechnic with a strong background in software development, system administration and infrastructure management. Enthusiastic about software design, soccer and basketball. Seeking to leverage my hands-on experience and knowledge in a dynamic environment.

            <p>
                <h2>PROFESSIONAL EXPERIENCE</h2><hr/>
                <h3>Bilingual Data & Information Technology Specialist.<br/>CMEC (Council of Ministers of Education, Canada), Toronto, January 2025 - Present</h3>
                <ul>
                    <li>Led workshops, group study, sessions and discussions to promote collaborative learning to promote students’ understanding of technical concepts such as version control and database structures.</li>
                    <li>Troubleshot Windows 10 and Microsoft Office 2016/365 environments, addressing technical issues with a high first-contact resolution rate.</li>
                    <li>Instructed courses on Linux/Bash Shell Scripting, Git & GitHub, Excel, PowerPoint and MS Project, contributing to the professional development of students.</li>
                    <li>Collaborated with faculty members to diverse instructional strategies , address students’ questions and provide personalized guidance to over 35 students leading to enhance academic performance and satisfaction</li>
                    <li>Conducted comprehensive research on data analysis tools and created plans for update and execute QA testing.</li>
                    <li>Introduced new software tools that improved project management and tracking, leading to better resource allocation and timely project completion.</li>
                </ul>
                <h3>Software Developer.<br/>Team4Tech Solutions, Toronto,  February 2023 - November 2024</h3>
                <ul>
                    <li>Collaborated with peers to troubleshoot, develop code, and document software components, contributing to process improvement and provided solutions to meet client needs for automation and process control and governance.</li>
                    <li>Participated in technical walkthroughs, reviewing specifications and unit test plans, ensuring quality and accuracy. </li>
                    <li>Translated business requirements into functional specifications, resolving technical issues in a fast-paced environment.</li>
                    <li>Assisted in improving the AI Systems through bug identification, performance improvement while collaborating with a professional team with 3 Machine Learning Engineers.</li>
                    <li>Provided third-level support for various technologies, enhancing client engagement by addressing complex technical challenges.</li>
                    <li>Developed and delivered above 20 presentations on technical projects, enhancing client relationships and stakeholder engagement while collaborating with 2 product managers gaining corporate experience.</li>
                    <li>Supported upgrades to testing environment, maintaining documentation of testing results and adherence to development standards and guidelines.</li>
                </ul>
                <h3>Technical Support Analyst.<br/> CAMTEL, CMR, 2019 - 2022</h3>
                <ul>
                  <li>Diagnosed and resolved integrated telecommunication systems issues, ensuring minimal service disruptions for clients.</li>
                  <li>Delivered field and remote support for software and hardware installations, achieving a 95% customer satisfaction rate</li>
                  <li>Responded to customer inquiries and assisted in resolving complex issues during the installation phases of telecommunications projects.</li>
                  <li>Provided technical support and advice to customers, sales representatives, and product managers on telecommunications applications, product performance, installation, and other critical topics.</li>
                  <li>Delivered field product support, including operations support, system installations, hardware/software training, troubleshooting, product trials, and sales demonstrations, with occasional business travel.</li>
                  <li>Prepared documentation related to system modifications, troubleshooting procedures, and problem resolutions.</li>
                </ul>
            </p>
        </div>
        <div class="prose">
          <h2>TECHNICAL SKILLS AND TOOLS.</h2><hr/>
          <ul>
            <li><b>Programming and Software Development:  </b>JavaScript, Python, C++, React,js, Node.js, Express.js, Linux/UNIX/Bash Scripting, jQuery, MySQL, PostgreSQL, MongoDB, DB2, MS Access, Oracle SQLite, HTML5, CSS3, Bootstrap, SASS, Git, GitHub </li>
            <li><b>Systems Admin & Networking: </b>Windows, macOS, Linux/Ubuntu, TCP/IP, DNS, DCHP, RDP, Active Directory, Azure AD, PowerShell scripting, Thermal printers, VoIP systems, thin clients, Scanners</li>
            <li><b>Cloud Computing and Virtualization: </b>  VMware, Virtual Box, Power Automate, Logic Apps</li>
            <li><b>IT Support & Troubleshooting:  </b> ITIL – incident and change management, VPN, Remote Desktop, ticketing systems (Jira), Interactive user support and escalation</li>
            <li><b>Data Analysis & Visualization: </b> Microsoft Excel, Tableau, JSON, XML, Python (Pandas, NumPy)</li>
            <li><b>Technical Documentation: </b><strong>MS Office Suite</strong>(Word, Outlook, PowerPoint, Excel and MS Project) Google Workspace, Agile(Scrum), Waterfall, MS Teams, Zoom.</li>
            <li><b>Soft Skills: </b>Oral and written communication (English and French), Interpersonal skills, Analytical, Creative, Client engagement, Teamwork, and Collaboration across diverse teams, Self-motivation and a continuous learning mindset, Eager to take on new challenges and grow, Adaptability, Quick Learner, Initiative, Listening and Active learning.</li>
          </ul>

          <h2>PROJECTS & ACHIEVMENTS</h2><hr/>
          <h3>Personal Projects</h3>
            <ul>
                <li><strong>Relief Management System: </strong>Designed and implemented a C++ application for efficient disaster relief inventory management. Utilized class structures to categorize items, track quantities, and optimize shipping logistics</li>
                <li><strong>Clinic Appointment System: </strong>Developed a C application for managing patient (pet) contact information and appointment scheduling. </li>
                <li><strong>Personal Website: </strong> Built a responsive Personal webiste to higlight my work and showcase my talents.</li>
                <li><strong>DSA(Python)</strong> Study Guide abd Exercises to Learning Data Structures and Algorithms</li>
                <li><strong>Responsive Personal Website: </strong> Created a LEGO web application using the MERN stack, transitioning from a Postgres to MongoDB database, showcasing proficiency in modern web technologies and database management.</li>
            </ul>
          <h3>Collaborated Projects and Coding Bootcamp</h3>
            <ul>
                <li><strong>Trucking App: </strong>Collaborated with a team of 5 developers in a SCRUM environment to create an optimal truck selection product for efficient shipments. </li>
            </ul>

          <h2>EDUCATION.</h2><hr/>
            <ul>
                <li>Advanced Diploma <br/> Computer Programming and Analysis,  Seneca College Toronto.       GPA: 4.0/4      2022 - 2024</li>
                <li>BSc. Accounting <br/> University of Buea, Cameroon.                                        GPA: 3.98/4     2019 - 2021</li>
                <li>Computer Science & Accounting <br/> Christ the King College, Yaounde, Cameroon.                                        GPA: 4/4     2016 - 2018</li>
           </ul>
          <h2>AWARDS & CERTIFICATIONS.</h2><hr/>
            <ul>
                <li>President Honor Roll List,  Seneca College - 2023 & 2024.</li>
                <li>AWS Practioner Essentials Amazon</li>
                <li>Network+ and Comptia+ - Udemy - 2022 </li>
                <li>First Aid & CPR Certified - 2022</li>
            </ul>
        </div>
      </div>
    </div>

    <!-- include footer.ejs-->
    <%-include('./partials/footer.ejs') %>
  </body>
</html>
